.hero {
  background: var(--bg-color);
  color: white;
}

.hero__text {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;
}

h1 {
  flex: 1.2;
  font-size: 4rem;
  margin-top: 0;
}

.hero__text-container {
  flex: 1;
}

.hero__text-container__top {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 2rem;
}

.hero__text-container__top-img {
  width: 80px;
  object-fit: contain;
}

.hero__img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  margin-top: 1rem;
  border-radius: 40px;
  margin-bottom: 2rem;
}

.h6 {
  display: none;
}

@media screen and (max-width: 850px) {
  h1 {
    font-size: 3rem;
  }

  .hero__text-container__top-img {
    width: 40px;
    object-fit: contain;
  }

  .hero__img {
    height: 55vh;
  }

  .h5 {
    display: none;
  }

  .h6 {
    display: flex;
  }

  .p {
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  .hero__img {
    height: 40vh;
  }

  h1 {
    font-size: 2rem;
  }
}