.clients {
  background: white;
}

.clients__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.clients__container img {
  height: 6.25rem;
  object-fit: contain;
}

@media screen and (max-width: 850px) {
  .clients__container img {
    height: 4rem;
  }

  .clients__container {
    gap: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  .clients__container img {
    height: 2rem;
  }

  .clients__container {
    gap: 1rem;
  }
}

