.services__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2px;
  border: 1px solid var(--gray-500);
  border-radius: 5px;
  /* margin */
}

.services__header h2 {
  margin: 0;
}

.services__header-links {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.services__header-links button {
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
}

.grad {
  border: none;
  color: white;
  font-weight: 600;
}

.grad2 {
  background: white;
  border: 1px solid var(--gray-900);
  color: var(--gray-700);
}

@media screen and (max-width: 850px) {
  .services__header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 2px;
    border: 1px solid var(--gray-500);
    border-radius: 5px;
    /* margin */
  }

  .services__header-links button {
    padding: 0.75rem 1.5rem;
    border-radius: 25px;
    font-size: 14px;
  }

  .services__header-links {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 550px) {
  .services__header-links button {
    padding: 0.75rem 1.5rem;
    border-radius: 25px;
    font-size: 12px;
  }
}